
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center mb-3 box-shadow">
      <h5 class="my-0 mr-md-auto nav-logo col-sm-12 col-md-3">
        <a href="#">
          <img src="/public/images/shop-icon.png" alt="logo" />
        </a>
        <span class="nav-logo__text">BestBag</span>
      </h5>
      <div class="nav-items__search-bar">
        <input type="text" class="nav-items__search-bar text-dark" placeholder="Search" />
        <button class="btn btn--search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <nav class="my-2 my-md-0 mr-md-3 nav-items">
        <div class="nav-items__cart">
          <a href="#">
            <i class="fa-solid fa-bag-shopping"></i>
          </a>
        </div>
      </nav>
      <a class="btn btn-sign-in" href="#">Sign in</a>
    </div>
  </div>
  
